body{
    background: #cccccc;
}
.cabecalho, .novo{
    width: 60%;
    margin: auto;
}
.novo a{
    text-transform: uppercase;
    color:  #0f8399;
    font-size: 0.875em
    background: #ffffff;
    border: 1px solid #000000;   
    padding: 0.275em 1em;
    text-decoration: none;
    /* text decoration serve para tirar o sublinhamento do botão novo aluno */
}
table{
    width: 60%;
    margin: 1em auto;
    border-collapse: collapse;
    /*w3c rege as regras de css e html, então se houver alguma duvida é bom pesquisar lá ou no w3schools*/
}   
/*Lembre do ponto e virgula eduardo*/ 
thead{
    background: #000000;
    color: #ffffff;
}
th{
    height: 2em;
    text-align: left;
    padding: 0.5em 0 0 1em;
    text-transform: uppercase;
    font-size: 15px
}
td{
    height: 1.5em;
    padding: 0.5em 1em;
    border: 1px solid #000000;
    background: #ffffff;
}
